<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to "ログアウト", destroy_user_session_path, method:"delete" %>
<% else %>
<%= link_to "ログイン", new_user_session_path, method:"get" %>
<%= link_to "ユーザー登録", new_user_registration_path, method:"get" %>
<% end %>
<hr>
<h1>HOME PAGE</h1>
<% if user_signed_in? %>
<%= link_to "本一覧を見る", books_path, method:"get" %>
<% end %>