<%= link_to 'ホーム', root_path, method: :get %>
<% if user_signed_in? %>
<%= link_to current_user.email, users_show_path %>
<%= link_to "ログアウト", destroy_user_session_path, method:"delete" %>
<% else %>
<%= link_to "ログイン", new_user_session_path, method:"get" %>
<%= link_to "ユーザー登録", new_user_registration_path, method:"get" %>
<% end %>
<hr>

<h1>プロフィール</h1>

<h3>名前</h3>
<%= @user.name %>

<h3>年齢</h3>
<%= @user.age %>

<h3>メールアドレス</h3>
<%= @user.email %>

<br>
<%= link_to "編集情報", edit_user_registration_path, method: :get %>