<%= link_to 'ホーム', root_path, method: :get %>
<% if user_signed_in? %>
<%= current_user.email %>
<%= link_to "ログアウト", destroy_user_session_path, method:"delete" %>
<% else %>
<%= link_to "ログイン", new_user_session_path, method:"get" %>
<%= link_to "ユーザー登録", new_user_registration_path, method:"get" %>
<% end %>
<hr>
<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
<p>
    <% if @book.image.attached? %>
      <%= image_tag @book.image %>
    <% end %>
</p>
